@import '../../style/config.scss';
.summer{
    background-image: url('../../assets//images/cta-bg.png');
    height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;

    .container{
        padding-top: 10%;
        text-align: center;
        align-items: center;
        label{
            font-size: 25px;
            color: $green;
            font-style: italic;
        }
        h2{
            margin-top: 20px;
            font-size: 40px;
            color: $blue;
            margin-bottom: 20px;
        }
        p{
            color: gray;
        }
        button{
            margin-top: 20px;
            @include button(20px 50px,17px);
            font-weight: 800;
        }
    }
}